[submodule "products-ms"]
	path = products-ms
	url = https://github.com/mhbughdadi/products-ms.git
[submodule "common-utils"]
	path = common-utils
	url = https://github.com/mhbughdadi/common-utils.git
