[submodule "products-ms"]
	path = products-ms
	url = https://github.com/mhbughdadi/products-ms.git
[submodule "common-utils"]
	path = common-utils
	url = https://github.com/mhbughdadi/common-utils.git
[submodule "elk"]
	path = elk
	url = https://github.com/mhbughdadi/elk.git
[submodule "common-spring-utils"]
	path = common-spring-utils
	url = https://github.com/mhbughdadi/common-spring-utils.git
	branch = main
